<div class="container mx-auto my-2 p-2 rounded border-2 bg-gray-200 text-gray-700">
  <h2 class="font-bold text-2xl">
    Shouts
  </h2>

  <p class="mb-2">Shouts are a system for <strong>quickly notifying people of new updates</strong> in your project. A shout will appear at the top of the page and be <strong>visible to everyone until dismissed.</strong></p>

  <p class="mb-2"><strong>Only one shout can be active at a time.</strong> When a shout is created, <strong>it will be "locked in" for <%= Shout::MIN_TIME_ACTIVE.inspect %>.</strong> During the locked in phase, no one can create new shouts. After that, the shout remains visible, but <strong>anyone can create a new shout to replace it.</strong></p>

  <p class="mb-2">If there is no locked-in shout, you can <strong>create a new shout, or bump an old shout</strong> of your own.</p>

  <p class="mb-2">Abusing the shout system <strong>will result in access being removed.</strong></p>
</div>

<div class="mb-2">
  <% if Shout.available? %>
    <h2 class="font-bold text-2xl">
      Create Shout
    </h2>

    <% if Shout.active %>
      The current shout is no longer locked in. You can <%= link_to 'replace it with a new shout', new_shout_path, class: 'visible-link' %>.
    <% else %>
      Nobody has shouted yet. <%= link_to 'Create the first!', new_shout_path, class: 'visible-link' %>.
    <% end %>
  <% else %>
    <h2 class="font-bold text-2xl">
      Shouting Locked
    </h2>

    <% if Current.user == Shout.active.user %>
      <strong>Your shout is currently locked-in.</strong> 
      
      Shouting will unlock again in <strong><%= active_shout_expires_in %></strong>. 
      
      You can 
      <%= link_to 'edit your shout', edit_shout_path(Shout.active), class: 'visible-link' %> 
      or 
      <%= link_to 'delete it', shout_path(Shout.active), method: :delete, data: { confirm: 'Are you sure you want to delete this shout?' }, class: 'visible-link' %>.
    <% else %>
      <strong><%= Shout.active.user.username %></strong>'s shout is <strong>currently locked in.</strong> Shouting will unlock again in <strong><%= active_shout_expires_in %></strong>.
    <% end %>
  <% end %>
</div>

<% if Current.user %>
  <div class="mb-2">
    <h2 class="font-bold text-2xl">
      Your Shouts
    </h2>

    <% if Current.user.shouts.empty? %>
      You've never shouted.

      <% if Shout.available? %>
        But hey, it's <%= link_to 'never too late to learn!', new_shout_path, class: 'visible-link' %>
      <% end %>
    <% else %>
      <%= rc 'shouts/shout', Current.user.shouts %>
    <% end %>
  </div>
<% end %>