
<%= fgh_form(model: @recording.becomes(Recording)) do |f| %>
  <div class="border-b mb-4 pb-2">
    <div class="text-3xl font-light mb-1">
      Create Something
    </div>

    <div class="flex">
      <label>
        <input type="radio" name="type" value="Game" checked>
        Game/Hack
      </label>

      <label class="ml-2">
        <input type="radio" name="type" value="Tutorial">
        Tutorial
      </label>

      <label class="ml-2">
        <input type="radio" name="type" value="Resource">
        Resource
      </label>
    </div>
  </div>

  <div class="border-b mb-4 pb-2">
    <div class="mb-2">
      <div class="mb-1">
        <span class="font-semibold text-gray-800">
          Name
        </span>

        <span class="text-red-600">
          *
        </span>
      </div>

      <%= f.text_field :name, class: 'w-full border rounded p-1' %>
    </div>

    <div class="mb-2">
      <div class="mb-1">
        <span class="font-semibold text-gray-800">
          Description
        </span>
      </div>

      <%= f.rich_text_area :name %>
    </div>
  </div>

  <div class="p-2 bg-gray-200 rounded">
    <%= f.fancy_text_field :name, 'Game Name', 
      icon: :signature,
      autofocus: true
    %>


    <%= f.fancy_text_field :tag_list, 'Tags',
      class: 'mt-2',
      icon: :tags,
      footnote: 'suggested: pokeemerald, open world, etc (split on commas)'
    %>
  </div>

  <div class="mt-2">
    <%= f.submit 'Get Creating' %>
  </div>
<% end %>