<div class="flex">
  <% each_recording_type_with_style do |type, style| %>
    <%= link_to new_recording_path(type: type), class: "flex flex-col items-center justify-center shadow-xl mx-2 p-3 mt-3 hover:mt-0 transition w-1/#{Recording::Types.count}" do %>
      <div class="rounded-full h-24 w-24 text-white text-5xl flex items-center justify-center bg-<%= style[:color] %>">
        <%= fa style[:icon] %>
      </div>

      <div class="font-bold mt-2">
        Create a 
        
        <span class="text-<%= style[:color] %>">
          <%= type %>
        </span>
      </div>
    <% end %>
  <% end %>
</div>