<%= rp 'recordings/header', recording: @recording %>

<% if @recording.banner.attached? %>
  </div> <!-- break out of container -->
      <%= image_tag @recording.banner, class: 'my-4 w-full' %>
  <div class="container mx-auto">
<% else %>
  <div class="my-6"></div>
<% end %>

<%= @recording.content %>

<% if @recording.any_links? %>
  <div class="border-2 bg-gray-200 text-gray-700 p-2 rounded my-4 flex items-center text-4xl">
    <% if @recording.github.present? %>
      <%= link_to @recording.github, target: :_blank, class: 'ml-1 mr-3', title: "#{@recording.name} on GitHub" do %>
        <%= fa :github, :fab %>
      <% end %>
    <% end %>

    <% if @recording.discord.present? %>
      <%= link_to @recording.discord, target: :_blank, class: 'ml-1 mr-3', title: "#{@recording.name} on Discord" do %>
        <%= fa :discord, :fab %>
      <% end %>
    <% end %>

    <% if @recording.pokecomm.present? %>
      <%= link_to @recording.pokecomm, target: :_blank, class: 'ml-1 mr-3', title: "#{@recording.name} on PokéCommunity" do %>
        <div style="width: 36px; height: 36px; background-image: url(https://pokecommunity.com/images/logo-notext.php?fill=4a5568); background-position: -8px -9px; background-size: 145%;"></div>
      <% end %>
    <% end %>

    <% if @recording.relic_castle.present? %>
      <%= link_to @recording.relic_castle, target: :_blank, class: 'ml-1 mr-3', title: "#{@recording.name} on Relic Castle" do %>
        <%= fa :leaf %>
      <% end %>
    <% end %>
  </div>
<% end %>