<div class="fixed w-full z-50">
  <% if Shout.show? %>
    <div id="shout" class="flex bg-bg-white text-green-700 text-center py-1 px-2 font-bold">

      <div class="flex-grow text-center">
        <%= link_to Shout.active.url || '#' do %>
          <%= Shout.active.content %>
        <% end %>
      </div>

      <% if Current.user %>
        <%= link_to dismiss_shouts_path, method: :patch, remote: true do %>
          <%= fa :times %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <div class="bg-green-600 text-white flex items-center font-bold text-2xl font-display py-2 px-4 shadow-lg">
    <div class="text-white uppercase text-3xl">
      <%= link_to root_path do %>
        <span class="hidden md:block">
          Fangame Hacktory
        </span>

        <span class="md:hidden">
          FGH
        </span>
      <% end %>
    </div>

    <div class="flex-grow"></div>

    <div class="flex">
      <% unless Current.user %>
        <%= link_to 'Sign Up', new_user_registration_path, class: 'mx-2' %>
      <% end %>

      <%= link_to root_path(type: 'games'), class: 'mx-2' do %>
        <%= media sm: fa(:gamepad), md: 'Games' %>
      <% end %>

      <%= link_to tags_path, class: 'mx-2' do %>
        <%= media sm: fa(:tags), md: 'Tags' %>
      <% end %>

      <div class="mx-2" data-controller="dropdown">
        <div class="cursor-pointer select-none" data-action="click->dropdown#toggle" data-target="dropdown.button">
          <span class="hidden md:inline">
            More
          </span>

          <%= fa 'caret-down' %>
        </div>

        <div class="w-full md:w-64 bg-white text-black border-2 rounded-lg shadow-lg absolute right-0 hidden" style="top: 50px" data-target="dropdown.menu">
          <ul>
            <%= dropdown_link_to 'Tutorials', root_path(type: 'tutorial') %>
            <%= dropdown_link_to 'Resources', root_path(type: 'resource') %>
            <%= dropdown_link_to 'Shouts', shouts_path %>

            <% if Current.user %>
              <%= dropdown_link_to 'Profile', Current.user %>
              <%= dropdown_link_to 'Log Out', destroy_user_session_path, method: :delete %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>